<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head')%>
  </head>
  <body>
    <%- include('partials/navigation')%>

    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="pb-4 display-1">Información</h1>
        <p class="text-white">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. A hic
          voluptatibus dicta excepturi maxime! Ullam maxime necessitatibus
          dolore dolores saepe. Hic nostrum quia, enim obcaecati saepe
          exercitationem quas? Incidunt maiores consequatur a optio hic quod
          totam quae tempora. Eos veritatis quia autem! Impedit vero nostrum ut,
          totam voluptatibus corrupti libero quo consequuntur similique mollitia
          laboriosam! Vel dolore voluptatum quibusdam ipsa, quos reprehenderit
          voluptatibus earum fuga possimus debitis, corporis impedit ullam illum
          sunt modi minima nihil tempore? Aut expedita iste beatae molestias
          accusamus, inventore a quis quam nostrum natus, placeat voluptatum
          distinctio ipsam tempore, sint nesciunt deserunt fuga blanditiis autem
          facilis nisi odit ex? Ex ducimus accusantium incidunt, id doloremque
          vitae consequatur soluta cum sequi dignissimos. Consequatur, suscipit!
          Corrupti facilis eius animi accusantium nobis officiis dolores porro
          quibusdam nesciunt, corporis illum, maxime ipsa modi iusto sit
          architecto incidunt recusandae quisquam. Neque debitis, hic placeat
          aspernatur beatae tempore illum perferendis, quas consectetur quaerat
          cumque exercitationem atque et iusto in odit temporibus nobis
          reprehenderit libero doloremque eum nemo iure? Laudantium esse tempora
          temporibus nam! Corrupti labore minus assumenda sequi modi deserunt
          tempora, laborum maxime accusantium maiores reiciendis natus rem
          commodi in sapiente? Veniam illum dolore a vel quos sapiente id autem
          quod natus.
        </p>
      </section>
    </main>
    <%- include('partials/footer')%>
  </body>
</html>
